asgiref==3.12.1
django==5.2.17
djangorestframework==3.18.0
djangorestframework-simplejwt==5.5.1
django-stubs==6.0.9
drf-yasg==1.21.15
psycopg2-binary==2.9.12
pyjwt==2.13.0
sqlparse==0.5.5
tqdm==4.70.0