asgiref==3.12.1
django==5.2.17
django-cors-headers==4.9.0
djangorestframework==3.18.0
djangorestframework-simplejwt==5.5.1
django-stubs==6.0.9
drf-yasg==1.21.15
gunicorn==26.1.0
psycopg2-binary==2.9.12
pyjwt==2.13.0
requests==2.34.2
django-dotenv==1.4.2
sqlparse==0.5.5
tqdm==4.70.0
whitenoise==6.12.0